# ***Тема “Вычисления с помощью Numpy”***

**Задание 1.**

Импортируйте библиотеку Numpy и дайте ей псевдоним np.
Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк и 2 столбцов. Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй - числа 6, 8, 11, 10, 7. Будем считать, что каждый столбец - это признак, а строка - наблюдение. Затем найдите среднее значение по каждому признаку, используя метод mean массива Numpy. Результат запишите в массив mean_a, в нем должно быть 2 элемента.

In [159]:
import numpy as np

In [160]:
a = np.array([[1,6], 
             [2, 8], 
             [3, 11], 
             [3, 10], 
             [1, 7]])
a

array([[ 1,  6],
       [ 2,  8],
       [ 3, 11],
       [ 3, 10],
       [ 1,  7]])

In [161]:
mean_a = a.mean (axis = 0)
mean_a

array([2. , 8.4])

**Задание 2.**

Вычислите массив a_centered, отняв от значений массива “а” средние значения соответствующих признаков, содержащиеся в массиве mean_a. Вычисление должно производиться в одно действие. Получившийся массив должен иметь размер 5x2.

In [162]:
a_centered = a - mean_a
a_centered

array([[-1. , -2.4],
       [ 0. , -0.4],
       [ 1. ,  2.6],
       [ 1. ,  1.6],
       [-1. , -1.4]])

**Задание 3.**

Найдите скалярное произведение столбцов массива a_centered. В результате должна получиться величина a_centered_sp. Затем поделите a_centered_sp на N-1, где N - число наблюдений.

In [163]:
a_centered_sp = np.dot(a_centered[:, 0], a_centered[:, 1])
a_centered_sp

8.0

In [164]:
a_centered_sp / (a.shape[0] - 1)

2.0

**Задание 4 **

Число, которое мы получили в конце задания 3 является ковариацией двух признаков, содержащихся в массиве “а”. В задании 4 мы делили сумму произведений центрированных признаков на N-1, а не на N, поэтому полученная нами величина является несмещенной оценкой ковариации.

В этом задании проверьте получившееся число, вычислив ковариацию еще одним способом - с помощью функции np.cov. В качестве аргумента m функция np.cov должна принимать транспонированный массив “a”. В получившейся ковариационной матрице (массив Numpy размером 2x2) искомое значение ковариации будет равно элементу в строке с индексом 0 и столбце с индексом 1.

In [165]:
(np.cov(a.transpose()))[0,1]

2.0

# ***Тема “Работа с данными в Pandas”***

**Задание 1**

Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].

Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные:  
[1, 1, 1, 2, 2, 3, 3],

['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],

[450, 300, 350, 500, 450, 370, 290].

In [166]:
import pandas as pd

In [167]:
authors = pd.DataFrame({
    'author_id': [1, 2, 3],
    'author_name': ['Тургеньев', 'Чехов', 'Островский']
})
authors

   author_id author_name
0          1   Тургеньев
1          2       Чехов
2          3  Островский

In [168]:
books = pd.DataFrame({
    'author_id': [1, 1, 1, 2, 2, 3, 3],
    'book_title': ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    'price': [450, 300, 350, 500, 450, 370, 290]
})
books

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

**Задание 2**

Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [169]:
authors_price = pd.merge(authors, books, on = 'author_id', how = 'inner')
authors_price

   author_id author_name            book_title  price
0          1   Тургеньев           Отцы и дети    450
1          1   Тургеньев                 Рудин    300
2          1   Тургеньев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

**Задание 3**

Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

**Первый способ**

In [170]:
top5 = authors_price.sort_values(by = 'price', ascending = False).head()
top5

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1   Тургеньев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1   Тургеньев  Дворянское гнездо    350

**Второй способ**

In [171]:
top5 = authors_price.nlargest(5, "price")
top5

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1   Тургеньев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1   Тургеньев  Дворянское гнездо    350

**Задание 4**

Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:

author_name, min_price, max_price и mean_price,

в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя цена на книги этого автора.

In [172]:
authors_stat = authors_price.groupby('author_name').agg({'price':['min', 'max', 'mean']})
authors_stat = authors_stat.reset_index()
authors_stat = authors_stat.rename(columns={'min':'min_price', 'max':'max_price', 'mean':'mean_price', 'price': ''})
authors_stat

  author_name
              min_price max_price  mean_price
0  Островский       290       370  330.000000
1   Тургеньев       300       450  366.666667
2       Чехов       450       500  475.000000

**Задание 5**

Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться данные о том, какая обложка у данной книги - твердая или мягкая. В этот столбец поместите данные из следующего списка:

['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].

Просмотрите документацию по функции pd.pivot_table с помощью вопросительного знака.Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. Используйте для этого функцию pd.pivot_table. При этом столбцы должны называться "твердая" и "мягкая", а индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.

Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl". Затем загрузите из этого файла датафрейм и назовите его book_info2. Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.

In [173]:
a_p = pd.DataFrame({
    'cover': ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']} 
)
authors_price = pd.concat([authors_price, a_p], axis = 1)
authors_price

   author_id author_name            book_title  price    cover
0          1   Тургеньев           Отцы и дети    450  твердая
1          1   Тургеньев                 Рудин    300   мягкая
2          1   Тургеньев     Дворянское гнездо    350   мягкая
3          2       Чехов      Толстый и тонкий    500  твердая
4          2       Чехов       Дама с собачкой    450  твердая
5          3  Островский                 Гроза    370   мягкая
6          3  Островский  Таланты и поклонники    290   мягкая

In [174]:
book_info = pd.pivot_table(authors_price, index = 'author_name', columns = 'cover', values = 'price', aggfunc = np.sum)
book_info[['мягкая', 'твердая']] = book_info[['мягкая', 'твердая']].fillna(0)
book_info

cover        мягкая  твердая
author_name
Островский    660.0      0.0
Тургеньев     650.0    450.0
Чехов           0.0    950.0

In [175]:
book_info.to_pickle('book_info.pkl')

In [176]:
book_info2 = pd.read_pickle('book_info.pkl')

In [177]:
book_info

cover        мягкая  твердая
author_name
Островский    660.0      0.0
Тургеньев     650.0    450.0
Чехов           0.0    950.0

In [178]:
book_info2

cover        мягкая  твердая
author_name
Островский    660.0      0.0
Тургеньев     650.0    450.0
Чехов           0.0    950.0